<!-- calcul.html -->
{% extends 'navbar.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <form class="row g-3" id="dateForm" method="get" action="{% url 'calcul' %}">
                    <div class="col-auto">
                      <input type="text" class="form-control" id="date_operation" name="date_operation" placeholder="Date">
                      <span id="dateError" class="text-danger"></span> 
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Valider</button>
                    </div>
                <div class="table-responsive">
                    
                    <table>
                        <tr>
                            <th>Devise</th>
                            <th>Tot.Achat</th>
                            <th>Tot.Vente</th>
                            <th>PMPA</th>
                            <th>PMPV</th>
                            <th>C/V Achat</th>
                            <!-- <th>C/V Vente</th> -->
                        </tr>
                        {% for item in prix_achat_total %}
                        <tr>
                            <td>{{ item.devise_achat | intcomma }}</td>
                            <td>{{ item.prix_achat_total |floatformat:"2" | intcomma}}</td>
                            <td>
                                {% for vente_item in prix_vente_total %}
                                    {% if vente_item.devise_vente == item.devise_achat %}
                                        {{ vente_item.prix_vente_total|floatformat:"2" | intcomma }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for moyen_achat_item in prix_moyen_achat %}
                                    {% if moyen_achat_item.devise_achat == item.devise_achat %}
                                        {{ moyen_achat_item.prix_moyen_achat |floatformat:"2"| intcomma }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for moyen_vente_item in prix_moyen_vente %}
                                    {% if moyen_vente_item.devise_vente == item.devise_achat %}
                                        {{ moyen_vente_item.prix_moyen_vente|floatformat:"2" }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for cv_item in cv_achat %}
                                    {% if cv_item.devise_achat == item.devise_achat %}
                                        {{ cv_item.cv_achat  |floatformat:"2" | intcomma}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <!-- <td>
                                {% for cv_item in cv_vente %}
                                    {% if cv_item.devise_vente == item.devise_achat %}
                                        {{ cv_item.cv_vente |floatformat:"2" | intcomma }}
                                    {% endif %}
                                {% endfor %}
                            </td> -->
                            
                        
                                
                            
                        
                           


                        </tr>
                        {% endfor %}
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'meilleures_contreparties'%}" class="btn btn-primary btn-sm me-md-2">Meilleures Contreparties</a>
                        <a href="{% url 'export_to_excel'%}" class="btn btn-primary btn-sm">Edition xlsx</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("dateForm").onsubmit = function() {
    var dateInput = document.getElementById("date_operation").value;
    var isValidDate = /^\d{2}\/\d{2}\/\d{4}$/.test(dateInput);
    if (!isValidDate) {
        document.getElementById("dateError").innerText = "Format de date incorrect. Utilisez le format DD/MM/YYYY.";
        return false; 
    }
    else {
        document.getElementById("dateError").innerText = ""; 
    }
};
</script>
{% endblock %}
