{% extends 'navbar.html' %}

{% load static %}
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h2 class="mb-4">Importation</h2>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <script>
                    // Fermer l'alerte après 3 secondes
                    setTimeout(function () {
                        $('#success-alert').alert('close');
                    }, 3000);
                </script>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <script>
                    // Fermer l'alerte après 3 secondes
                    setTimeout(function () {
                        $('#error-alert').alert('close');
                    }, 3000);
                </script>
                {% endif %}
                {% endfor %}
                {% endif %}


                <div class="m-n2" style="display: flex;justify-content: space-between;">
                    <a href="#" class="btn btn-lg btn-primary m-2" id="openImportModal">Import</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="import" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Importer un fichier excel</h4>
                <button type="button" id="annuler"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <form action="{% url 'importer_donnes' %}" method="post" enctype="multipart/form-data"
                            class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="fileInput" class="form-label">Sélectionnez le fichier à importer :</label>
                                <input class="form-control" type="file" id="fileInput" name="fichier_excel" required>
                                <div class="invalid-feedback">Veuillez sélectionner un fichier.</div>
                            </div>
                            
                            <button type="button" id="annuler" class="btn btn-lg btn-secondary m-2"
                                data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-lg btn-success m-2" value="Importer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Ajoute un gestionnaire d'événements clic au lien d'importation
    document.getElementById('openImportModal').addEventListener('click', function(event) {
        event.preventDefault(); // Empêche le comportement par défaut du lien
        // Ouvre la boîte de dialogue pour sélectionner un fichier
        $('#import').modal('show');
    });
</script>
{% endblock content %}