{% extends 'navbar.html' %}

{% load static %}

{% block title %}
  Market Data
{% endblock %}

{% block content %}



<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-sm-12 col-xl-12">
          <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Market Data</h6>
              {% if messages %}
              {% for message in messages %}
                  {% if message.tags == 'success' %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endif %}
              {% endfor %}
          {% endif %}
          
            
              <div class="m-n2" style="display: flex;justify-content: space-between;">
                  <a href="#" class="btn btn-lg btn-primary m-2" id="openCoursModal">Saisir cours du jour</a>
                  <a href="#" class="btn btn-lg btn-secondary m-2" id="openBandeModal">Saisir Bande de fluctuation</a>
                  <a href="#" class="btn btn-lg btn-secondary m-2" id="openModifierCoursModal">modifier cours du jour</a>

              </div>
          </div>
      </div>

      <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"> Date</th>
                        <th scope="col"> Devise</th>
                        <th scope="col"> Cours</th>
                        <th scope="col">  Actions </th>
                    </tr>
                </thead>
                <tbody>

                    {% for i in Cours_revaluations%}
                    <tr>
                        <td>{{i.date}}</td>
                        <td>{{i.devise}}</td>
                        <td>{{i.cours}}</td>
                      </tr>
                      {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
          <table class="table table-bordered">
              <thead>
                  <tr>
                    <th scope="col"> Date</th>
                      <th scope="col"> Devise</th>
                      <th scope="col"> Bid</th>
                      <th scope="col"> Ask</th>
                      <th scope="col">  Actions </th>
                  </tr>
              </thead>
              <tbody>
                  {% for i in Bande_fluctuations%}
                  <tr>
                      <td>{{i.date}}</td>
                      <td>{{i.devise}}</td>
                      <td>{{i.Bid}}</td>
                      <td>{{i.Ask}}</td>
                      <td><a href="" btn btn-primary m-2>modifier</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>


<!-- ------------------------------------------ add cours -------------------------------------------- -->


<div id="addCours" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">						
        <h4 class="modal-title">Saisir cours du jour</h4>
        <button type="button"  id="annuler" ><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 col-xl-12">
          <div class="bg-light rounded h-100 p-4">
              <form id="addCoursForm" method="post" action="{% url 'add_cours'%}">
                {% csrf_token %}
                  <div class="mb-3">
                      <label  class="form-label">Date: </label>
                      <input type="date" class="form-control" name="date" id="coursDate" value="{{date_actuelle}}" required>
                      <small id="dateError" class="text-danger"></small>
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Devise:</label>
                    <select name="devise" class="form-control" id="coursDevise" required>
                      <option value="EUR">EUR</option>
                      <option value="USD">USD</option>
                    </select>
                </div>          
                <div class="mb-3">
                  <label  class="form-label">Cours:</label>
                  <input type="number" class="form-control" name="cours" id="coursValue" min=1 step="0.001" required>
                  <small id="coursError" class="text-danger"></small>
                </div>
                <button type="button" id="annuler" class="btn btn-lg btn-secondary m-2" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-lg btn-success m-2" value="Valider">
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ------------------------------------------ edit cours -------------------------------------------- -->

<div id="editCours" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">						
        <h4 class="modal-title">Modifier cours du jour</h4>
        <button type="button"  id="annuler" ><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 col-xl-12">
          <div class="bg-light rounded h-100 p-4">
              <form  method="post" action="">
                {% csrf_token %}
                  <div class="mb-3">
                      <label  class="form-label">Date: </label>
                      <input type="date" class="form-control" name="date" id="editCoursDate" required>
                      <small id="dateError" class="text-danger"></small>
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Devise:</label>
                    <select name="devise" class="form-control" id="editCoursDevise" required>
                      <option value="EUR">EUR</option>
                      <option value="USD">USD</option>
                    </select>
                </div>          
                <div class="mb-3">
                  <label  class="form-label">Cours:</label>
                  <input type="number" class="form-control" name="cours" id="editCoursValue" min=1 step="0.001" required>
                  <small id="coursError" class="text-danger"></small>
                </div>
                <button type="button"  class="btn btn-lg btn-secondary m-2" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-lg btn-success m-2" value="Valider">
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------------------------------------------------- add bande ------------------------------------------->



<div id="addBande" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">						
        <h4 class="modal-title">Saisir Bande de fluctuation</h4>
        <button type="button"  id="annuler" ><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 col-xl-12">
          <div class="bg-light rounded h-100 p-4">
              <form id="addBandeForm" method="post" action="{% url 'add_bande'%}">
                {% csrf_token %}
                  <div class="mb-3">
                      <label  class="form-label">Date: </label>
                      <input type="date" class="form-control" name="date" id="bandeDate" value="{{date_actuelle}}" required>
                      <small id="dateError" class="text-danger"></small>
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Devise:</label>
                    <select name="devise" class="form-control" id="bandeDevise" required>
                      <option value="EUR">EUR</option>
                      <option value="USD">USD</option>
                    </select>
                </div>          
                <div class="mb-3">
                  <label  class="form-label">Bid: </label>
                  <input type="number" class="form-control" name="Bid" id="bandeMax" step="0.001" required>
                  <small id="maxError" class="text-danger"></small>
                </div>
                <div class="mb-3">
                  <label  class="form-label">Ask: </label>
                  <input type="number" class="form-control" name="Ask" id="bandeMin" step="0.001" required>
                  <small id="minError" class="text-danger"></small>
                </div>
                <button type="button" id="annuler" class="btn btn-lg btn-secondary m-2" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-lg btn-success m-2" value="Valider">
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  setTimeout(function() {
      $('#success-alert').alert('close');
  }, 3000);
  //______________ ici ce deux lignes ont pour but de verifier que la date est valide _________________
  var dateActuelle = new Date().toISOString().split('T')[0];
  document.getElementById("bandeDate").setAttribute("max", dateActuelle);
  document.getElementById("coursDate").setAttribute("max", dateActuelle);
  //______________ fin _______________________
</script>


{% endblock %}
