{% extends 'navbar.html' %}

{% load static %}

{% block title %}
  Market Data
{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-sm-12 col-xl-12">
          <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Market Data</h6>
              {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="success-alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
              <div class="m-n2" style="display: flex;justify-content: space-between;">
                  <button class="btn btn-lg btn-primary m-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Saisir cours du jour
                  </button>
                  <button class="btn btn-lg btn-secondary m-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Saisir Bande de fluctuation
                  </button>
                  
              </div>
              <br>
              {% if session_status.is_open or user.is_staff %}
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="col-sm-12 col-xl-4 float-start">
                      <form id="addCoursForm" method="post" action="{% url 'add_cours' %}">
                        {% csrf_token %}
                          <div class="mb-3">
                              <label class="form-label">Date: </label>
                              <input type="date" class="form-control" name="date" id="coursDate" value="{{date_actuelle}}" required>
                              <small id="dateError" class="text-danger"></small>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Devise:</label>
                            <select name="devise" class="form-control" id="coursDevise" required>
                              <option value="EUR">EUR</option>
                              <option value="USD">USD</option>
                            </select>
                        </div>          
                        <div class="mb-3">
                          <label class="form-label">Cours:</label>
                          <input type="number" class="form-control" name="cours" id="coursValue" min="1" step="0.001" required>
                          <small id="coursError" class="text-danger"></small>
                        </div>
                        <input type="submit" class="btn btn-lg btn-success m-2" value="Valider">
                      </form>
                </div>
              </div>
              {% endif %}
              {% if session_status.is_open or user.is_staff %}
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="col-sm-12 col-xl-4 float-end">

                    <form  method="post" action="{% url 'add_bande' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Date: </label>
                            <input type="date" class="form-control" name="date" id="bandeDate" value="{{date_actuelle}}" required>
                            <small id="dateErrorBande" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Devise:</label>
                            <select name="devise" class="form-control" id="bandeDevise" required>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Bid: </label>
                            <input type="number" class="form-control" name="Bid" id="bandeMax" step="0.001" required>
                            <small id="maxError" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Ask: </label>
                            <input type="number" class="form-control" name="Ask" id="bandeMin" step="0.001" required>
                            <small id="minError" class="text-danger"></small>
                        </div>
                        <input type="submit" class="btn btn-lg btn-success m-2" value="Valider">
                    </form>
                </div>
              </div>
              {% endif %}

          </div>
      </div>




      <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
          <h6 class="mb-4">Cours du jour</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"> Date</th>
                        <th scope="col"> Devise</th>
                        <th scope="col"> Cours</th>
                        <th scope="col">  Actions </th>
                    </tr>
                </thead>
                <tbody>
                    {% for cours in Cours_revaluations %}
                    <tr>
                        <td>{{ cours.date }}</td>
                        <td>{{ cours.devise }}</td>
                        <td>{{ cours.cours }}</td>
                        <td><a href="#"   onclick="editCours( '{{ cours.date | date:'Y-m-d' }}' , '{{ cours.devise }}', '{{ cours.cours }}', '{{cours.id}}','{{session_status.is_open}}','{{user.is_staff}}')">modifier</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Bande de fluctuation</h6>
          <table class="table table-bordered">
              <thead>
                  <tr>
                    <th scope="col"> Date</th>
                      <th scope="col"> Devise</th>
                      <th scope="col"> Bid</th>
                      <th scope="col"> Ask</th>
                      <th scope="col">  Actions </th>
                  </tr>
              </thead>
              <tbody>
                  {% for bande in Bande_fluctuations %}
                  <tr>
                      <td>{{ bande.date }}</td>
                      <td>{{ bande.devise }}</td>
                      <td>{{ bande.Bid }}</td>
                      <td>{{ bande.Ask }}</td>
                      <td><a href="#"    onclick="editBand( '{{ bande.date | date:'Y-m-d' }}' , '{{ bande.devise }}', '{{ bande.Bid }}','{{ bande.Ask }}' , '{{bande.id}}','{{session_status.is_open}}','{{user.is_staff}}')">modifier</a></td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>


<!-- ------------------------------------------ edit cours -------------------------------------------- -->

<div id="editCours" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">						
        <h4 class="modal-title">Modifier cours du jour</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 col-xl-12">
          <div class="bg-light rounded h-100 p-4">
            <form method="post"   id="formcours" action="">
              {% csrf_token %}
                  <div class="mb-3">
                      <label class="form-label">Date: </label>
                      <input type="date" class="form-control" name="date" id="editCoursDate" value="{{ cours.date |date:'Y-m-d' }}" required>
                      <small id="editDateError" class="text-danger"></small>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Devise:</label>
                    <select name="devise" class="form-control" id="editCoursDevise" required>
                      <option value="EUR" {% if cours.devise == "EUR" %} selected {% endif %}>EUR</option>
                      <option value="USD" {% if cours.devise == "USD" %} selected {% endif %}>USD</option>
                    </select>
                </div>          
                <div class="mb-3">
                  <label class="form-label">Cours:</label>
                  <input type="number" class="form-control" name="cours" id="editCoursValue" min="1" step="0.001" value="{{ cours.cours }}" required>
                  <small id="coursError" class="text-danger"></small>
                </div>
                <button type="button" class="btn btn-lg btn-secondary m-2" data-bs-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-lg btn-success m-2" value="Valider" >
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!---------------------------------------------------------- edit bande ------------------------------------------->

<div id="editBande" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">						
        <h4 class="modal-title">modifier le Bande de fluctuation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 col-xl-12">
          <div class="bg-light rounded h-100 p-4">
              <form  id="formbande" method="post" action="">
                {% csrf_token %}
                  <div class="mb-3">
                      <label class="form-label">Date: </label>
                      <input type="date" class="form-control" name="date" id="editbandeDate"  required>
                      <small id="editDateErrorBande" class="text-danger"></small>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Devise:</label>
                    <select name="devise" class="form-control" id="editbandeDevise" required>
                      <option value="EUR" {% if cours.devise == "EUR" %} selected {% endif %}>EUR</option>
                      <option value="USD" {% if cours.devise == "USD" %} selected {% endif %}>USD</option>
                    </select>
                </div>          
                <div class="mb-3">
                  <label class="form-label">Bid: </label>
                  <input type="number" class="form-control" name="Bid" id="editbandeBid" step="0.001" required>
                  <small id="maxError" class="text-danger"></small>
                </div>
                <div class="mb-3">
                  <label class="form-label">Ask: </label>
                  <input type="number" class="form-control" name="Ask" id="editbandeAsk" step="0.001" required>
                  <small id="minError" class="text-danger"></small>
                </div>
                <button type="button" class="btn btn-lg btn-secondary m-2" data-bs-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-lg btn-success m-2" value="Valider">
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
