
{% extends 'navbar.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Meilleures Conterpartie IB</h6>
                <table class="table_visualiser">
                    <thead>
                        <tr>
                          <th scope="col"> Contrepartie</th>
                            <th scope="col"> Montant total des ventes</th>
                        </tr>
                    </thead>
                        {% for item in meilleures_contreparties_ib %}
                        <tr>
                            <td>{{ item.conterpartie }}</td>
                            <td>{{ item.total_ventes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
              <h6 class="mb-4">Meilleures Conterpartie CORP</h6>
                <table class="table_visualiser">
                    <thead>
                        <tr>
                          <th scope="col"> Contrepartie</th>
                            <th scope="col"> Montant total des ventes</th>
                        </tr>
                    </thead>
                        {% for item in meilleures_contreparties_corp %}
                        <tr>
                            <td>{{ item.conterpartie }}</td>
                            <td>{{ item.total_ventes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}
