{% extends 'navbar.html' %}
{% load static %}
{% load humanize %}

{% block content %}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <form method="GET" id="dateForm" action="{% url 'filter_operations' %}" class="row g-3">
                    <div class="col-md-4">
                        <label for="start_date" class="form-label">Date de début:</label>
                        <input type="" class="form-control" id="start_date" name="start_date"  >
                        <div id="startDateError" class="text-danger"></div>


                    </div>
                    <div class="col-md-4">
                        <label for="end_date" class="form-label">Date de fin:</label>
                        <input type="" class="form-control" id="end_date" name="end_date" >
                        <div id="endDateError" class="text-danger"></div>

                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary me-5">Filtrer</button>
                        <a class="btn btn-primary me-2" href="{% url 'export_to_excel_operations' %}">Export</a>

                        {% if session_status.is_open or user.is_staff %}
                        <a class="btn btn-primary " id="ajouterOperationButton" >Ajoteur</a>
                        {% else %}
                        <a class="btn btn-primary">Ajoteur</a>
                        {% endif %}
                        
                    </div>
                </form>
                
              <div class="table_container">
                    <table id="myTable" class="table_visualiser">
                        <thead>
                            <tr>
                                <th>Date operation</th>
                                <th>Date validation</th>
                                <th>Conterpartie</th>
                                <th>Direction</th>
                                <th>Devise achat</th>
                                <th>Devise vente</th>
                                <th>Cours</th>
                                <th>Montant achat</th>
                                <th>Montant vendu</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for operation in page_obj %}
                            <tr>
                                <td>{{ operation.date_operation | date:"d/m/Y" }}</td>
                                <td>{{ operation.date_validation| date:"d/m/Y" }}</td>
                                <td>{{ operation.conterpartie }}</td>
                                <td>{{ operation.direction }}</td>
                                <td>{{ operation.devise_achat }}</td>
                                <td>{{ operation.devise_vente}}</td>
                                <td>{{ operation.cours }}</td>
                                <td>{{ operation.montant_achat  }}</td>
                                <td>{{ operation.montant_vendu }}</td>
                                <td>{{ operation.type }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a href="#"  class="btn btn-primary btn-sm"  onclick="editOperation( '{{ operation.date_operation | date:'Y-m-d' }}','{{ operation.date_validation | date:'Y-m-d' }}' , '{{ operation.conterpartie }}','{{ operation.devise_achat }}','{{ operation.devise_vente }}','{{ operation.cours }}','{{ operation.montant_achat }}','{{ operation.montant_vendu }}','{{ operation.type }}', '{{ operation.direction }}', '{{operation.id}}')">modifier</a>
                                        <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('{{operation.id}}')">Supprimer</a>

                                        <a href="{% url 'download_ticket' operation.id %}" class="btn btn-primary btn-sm" >Imprimer</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
        
                    </table> 
                </div>
                    

              
            <!-- ============================================= editOperation ============================================================= -->

<div id="editOperation" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">						
          <h4 class="modal-title">modifier operation</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <form  id="formoperation" method="post" action="">
                  {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Date operation: </label>
                        <input type="date" class="form-control" name="date_operation" id="dateoperation"  required>
                        <small id="editDateErrorBande" class="text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date validation: </label>
                        <input type="date" class="form-control" name="date_validation" id="datevalidation"  required>
                        <small id="editDateErrorBande" class="text-danger"></small>
                    </div>                    
                    <div class="mb-3">
                        <label class="form-label">Conterpartie: </label>
                        <input type="text" class="form-control" name="conterpartie" id="conterpartie"  required>
                        <small id="editDateErrorBande" class="text-danger"></small>
                    </div>                    
                    <div class="mb-3">
                      <label class="form-label">Devise achat:</label>
                      <select name="devise_achat" class="form-control" id="deviseachat" required>
                        <option value="EUR" {% if operation.devise_achat == "EUR" %} selected {% endif %}>EUR</option>
                        <option value="USD" {% if operation.devise_achat == "USD" %} selected {% endif %}>USD</option>
                        <option value="MRU" {% if operation.devise_vente == "MRU" %} selected {% endif %}>MRU</option>
                      </select>
                  </div>   
                  <div class="mb-3">
                    <label class="form-label">Devise vente:</label>
                    <select name="devise_vente" class="form-control" id="devisevente" required>
                      <option value="EUR" {% if operation.devise_vente == "EUR" %} selected {% endif %}>EUR</option>
                      <option value="USD" {% if operation.devise_vente == "USD" %} selected {% endif %}>USD</option>
                      <option value="MRU" {% if operation.devise_vente == "MRU" %} selected {% endif %}>MRU</option>
                    </select>
                </div>        
                  <div class="mb-3">
                    <label class="form-label">Cours: </label>
                    <input type="number" class="form-control" name="cours" id="cours" step="0.001" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Montant achat: </label>
                    <input type="number" class="form-control" name="montant_achat" id="montantachat"  required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Montant vendu: </label>
                    <input type="number" class="form-control" name="montant_vendu" id="montantvendu"  required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Type: </label>
                    <input type="text" class="form-control" name="type" id="type" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Direction: </label>
                    <input type="text" class="form-control" name="direction" maxlength="10" id="direction" required>
                  </div>
                  <button type="button" class="btn btn-lg btn-secondary m-2" data-bs-dismiss="modal">Annuler</button>
                  <input type="submit" class="btn btn-lg btn-success m-2" value="Valider">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--============================ suppression =========================-->

<div id="supprimerOperation" class="modal fade">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">						
                            <div class="card-body">
                                <h2 class="card-title text-center mb-4">Confirmation de suppression</h2>
                                <p>Voulez-vous vraiment supprimer cet operation ?</p>
                                <form method="post" id="deleteForm">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-block">Confirmer la suppression</button>
                                    <button type="button" class="btn btn-secondary btn-block" data-bs-dismiss="modal">Annuler</button>
                                </form>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>
</div>











<div id="ajouterOperationModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une Opération</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="operation_form" method="post" action="{% url 'add_operation' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="date_operation" class="form-label">Date de l'opération:</label>
                                <input type="date" id="date_operation" class="form-control" name="date_operation" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="date_validation" class="form-label">Date de validation:</label>
                                <input type="date" id="date_validation" class="form-control" name="date_validation" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="conterpartie" class="form-label">Contrepartie:</label>
                                <input type="text" id="conterpartie" class="form-control" name="conterpartie" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="devise_achat" class="form-label">Devise d'achat:</label>
                                <select class="form-select" id="devise_achat" name="devise_achat" required>
                                    <option value="EUR">EUR</option>
                                    <option value="USD">USD</option>
                                    <option value="MRU">MRU</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="devise_vente" class="form-label">Devise de vente:</label>
                                <select id="devise_vente" class="form-select" name="devise_vente" required>
                                    <option value="EUR">EUR</option>
                                    <option value="USD">USD</option>
                                    <option value="MRU">MRU</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cours" class="form-label">Cours:</label>
                                <input id="cours" type="number" class="form-control" name="cours" step="0.001" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="montant_achat" class="form-label">Montant d'achat:</label>
                                <input id="montant_achat" type="number" class="form-control" name="montant_achat" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="montant_vendu" class="form-label">Montant de vente:</label>
                                <input id="montant_vendu" type="number" class="form-control" name="montant_vendu" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="type" class="form-label">Type:</label>
                                <select class="form-select" id="type" name="type" required>
                                    <option value="IB">IB</option>
                                    <option value="CORP">CORP</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="direction" class="form-label">Direction:</label>
                                <select class="form-select" id="direction" name="direction" required>
                                    <option value="Sell">Sell</option>
                                    <option value="Buy">Buy</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center mb-3">
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- JavaScript pour afficher le popup modal -->
<script>
    document.getElementById('ajouterOperationButton').addEventListener('click', function() {
        // Afficher le popup modal
        $('#ajouterOperationModal').modal('show');
    });
</script>


<script>
document.getElementById("dateForm").onsubmit = function() {
    var startDateInput = document.getElementById("start_date").value;
    var endDateInput = document.getElementById("end_date").value;

    var isValidStartDate = /^\d{2}\/\d{2}\/\d{4}$/.test(startDateInput);
    var isValidEndDate = /^\d{2}\/\d{2}\/\d{4}$/.test(endDateInput);

    if (!isValidStartDate) {
        document.getElementById("startDateError").innerText = "Format de date incorrect. Utilisez le format DD/MM/YYYY.";
        return false;
    } else {
        document.getElementById("startDateError").innerText = "";
    }

    if (!isValidEndDate) {
        document.getElementById("endDateError").innerText = "Format de date incorrect. Utilisez le format DD/MM/YYYY.";
        return false;
    } else {
        document.getElementById("endDateError").innerText = ""; 
    }
};
</script>
<script>

    $(document).ready(function() {
        $('#supprimerOperation').modal('hide'); // Assurez-vous que la modal est cachée au chargement de la page
    });

    // Fonction pour ouvrir la modal de confirmation de suppression
    function confirmDelete(operation_id) {
        var deleteForm = $('#deleteForm');
        deleteForm.attr('action', '/operation/' + operation_id + '/delete/'); // Assurez-vous que le formulaire de suppression est soumis à l'URL appropriée
        $('#supprimerOperation').modal('show'); // Afficher la modal de confirmation de suppression
    }

</script>


  <script>
    $(document).ready(function(){
        $('#editOperation').modal('hide'); // assurez-vous que la modal est cachée au chargement de la page
    });

    // Fonction pour ouvrir la modal
    function editOperation(date_operation, date_validation, contrepartie, devise_achat, devise_vente, cours, montant_achat, montant_vendu, type, direction, operation_id) {
        // remplissez les champs de la modal avec les valeurs passées en paramètres
        $('#dateoperation').val(date_operation);
        $('#datevalidation').val(date_validation);
        $('#conterpartie').val(contrepartie);
        $('#deviseachat').val(devise_achat);
        $('#devisevente').val(devise_vente);
        $('#cours').val(cours);
        $('#montantachat').val(montant_achat);
        $('#montantvendu').val(montant_vendu);
        $('#type').val(type);
        $('#direction').val(direction);
        // ici, vous pouvez ajouter le code pour d'autres champs de formulaire si nécessaire

        // assurez-vous que le formulaire est soumis à l'URL appropriée pour la mise à jour
        $('#formoperation').attr('action', '/operation/' + operation_id +'/update/');

        // afficher la modal
        $('#editOperation').modal('show');
    }
</script>
<script>
  function validateDates() {
      var startDateInput = document.getElementById('start_date');
      var endDateInput = document.getElementById('end_date');
      var errorParagraph = document.getElementById('date_error');

      var startDate = new Date(startDateInput.value);
      var endDate = new Date(endDateInput.value);

      if (startDate > endDate) {
          errorParagraph.textContent = "La date de début ne peut pas être postérieure à la date de fin.";
          errorParagraph.style.display = 'block';
          setTimeout(function() {
              errorParagraph.style.display = 'none';
          }, 1500);
          return false;
      }
      return true;
  }
</script>

{% endblock %}
