{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<style>
    .table-container {
        margin: auto;
    }

    table {
        width: 80%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #009CFF;
    }
</style>

<h1>Liste des opérations</h1>
<p>{{ date_str }}</p>
<form action="" method="GET">
    <label for="date">Filtrer par date :</label>
    <input type="date" id="date" name="date" value="{{ request.GET.date }}">
    <button type="submit">Filtrer</button>
</form>


<form action="{% url 'filtrer' %}" method="get" enctype="multipart/form-data"
                            class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="fileInput" class="form-label">Sélectionnez le fichier à importer :</label>
                                <input class="form-control" type="date" id="fileInput" name="DateFilterForm" required>
                                <div class="invalid-feedback">Veuillez sélectionner un fichier.</div>
                            </div>
                            
                            <button type="button" id="annuler" class="btn btn-lg btn-secondary m-2"
                                data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-lg btn-success m-2" value="filtrer">
                        </form>



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h2>Données importées</h2>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <th>date_operation</th>
                            <th>date_validation</th>
                            <th>conterpartie</th>
                            <th>devise_achat</th>
                            <th>devise_vente</th>
                            <th>cours</th>
                            <th>montant_achat</th>
                            <th>type</th>
                        </tr>
                        {% if request.GET.date %}
                            {% for operation in operations %}
                                <tr>
                                    <td>{{ operation.date_operation | date:"Y-m-d" }}</td>
                                    <td>{{ operation.date_validation| date:"Y-m-d" }}</td>
                                    <td>{{ operation.conterpartie }}</td>
                                    <td>{{ operation.devise_achat }}</td>
                                    <td>{{ operation.devise_vente}}</td>
                                    <td>{{ operation.date_cours }}</td>
                                    <td>{{ operation.montant_achat }}</td>
                                    <td>{{ operation.type }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8">Aucune opération trouvée pour cette date.</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for operation in operations %}
                                <tr>
                                    <td>{{ operation.date_operation | date:"Y-m-d" }}</td>
                                    <td>{{ operation.date_validation| date:"Y-m-d" }}</td>
                                    <td>{{ operation.conterpartie }}</td>
                                    <td>{{ operation.devise_achat }}</td>
                                    <td>{{ operation.devise_vente}}</td>
                                    <td>{{ operation.date_cours }}</td>
                                    <td>{{ operation.montant_achat }}</td>
                                    <td>{{ operation.type }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8">Aucune opération trouvée.</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
