/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.table_container {
    width: 100%; /* ou une largeur fixe si nécessaire */
    overflow: auto; /* ajoute la barre de défilement lorsque le contenu dépasse */
}


          .table_visualiser {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
              color:black;
          }
          
          .table_visualiser td, th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
          }
          
          .table_visualiser th {
            background-color: #2e57a6;
          
              color: white !important;
            font-size: 14px;
              text-align:left;
          }
          
          
          .table_visualiser tr.odd {
            background-color: #f9f9f9;
          }
          
          
          .table_visualiser td.label_td {
            font-weight: bold;
          }
          
          .table_visualiser div.title_blue {
            color: white;
            font-size: 20px;
            font-weight: bold;
              text-align:center;
          }
          
          
          .table_visualiser div.content_td {
            font-size: 14px;
          }
          .table_visualiser tr:hover {
                  background-color: #009CFF;}


.desktop-1 .ticket-de-change {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 64px;
  color: #000000;
}
.desktop-1 .frame-1 {
  margin: 0 38.7px 93px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
}
.desktop-1 .date-de-loperation {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .date-valeur {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .conterpartie {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .container-3 {
  margin: 0 32px 96px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1068.8px;
  box-sizing: border-box;
}
.desktop-1 .devise-achetee {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .devise-vendue {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .cours {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .container-1 {
  margin: 0 32px 91px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1005.1px;
  box-sizing: border-box;
}
.desktop-1 .montant-achetee {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .montant-vendue {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .container-2 {
  margin: 0 32px 147px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 589.3px;
  box-sizing: border-box;
}
.desktop-1 .front-office {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .middle-office {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-13 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .back-office {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .frame-14 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.desktop-1 .container {
  margin: 0 55.8px 29px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 941.2px;
  box-sizing: border-box;
}
.desktop-1 .rectangle-4 {
  border: 1px solid #000000;
  background: #FFFFFF;
  width: 379px;
  height: 148px;
}
.desktop-1 .rectangle-2 {
  border: 1px solid #000000;
  background: #FFFFFF;
  width: 379px;
  height: 148px;
}
.desktop-1 .rectangle-3 {
  border: 1px solid #000000;
  background: #FFFFFF;
  width: 379px;
  height: 148px;
}
.desktop-1 .frame-11 {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  width: 1237px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 117px 125px 130px 78px;
  width: 1440px;
  box-sizing: border-box;
}
